@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
:root {
    --mainColor: #dfebee;
    --secondColor: #60717f;
    --thirdColor: #d54949;
}

.container {
    max-width: 1170px;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
}

section {
    padding: 100px 0;
    /* width: fit-content; */
}

.aboutMe, .services, .skills, .award, .contact, footer {
    font-family: 'Poppins', sans-serif;
}

section .title {
    position: relative;
    text-align: center;
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
    color: var(--secondColor)
}

section .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: var(--secondColor);
    transform: translateX(-50%);
}

section .title::after {
    position: absolute;
    bottom: -10px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 5px;
    background: #fff;
    transform: translateX(-50%);
}

/* navbar */

.navbar {
    position: fixed;
    width: 100%;
    padding: 25px 0;
    /* background: crimson; */
    font-family: 'Ubuntu', 'sans-serif';
    transition: all .3s ease;
}

.navbar.sticky {
    padding: 15px 0;
    background: var(--secondColor);
    z-index: 1000;
}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: white;
    font-size: 30px;
    font-weight: 600;
}

.navbar .logo a span {
    color: var(--secondColor)
}

.navbar.sticky .logo a span {
    color: #fff;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    display: block;
    color: var(--secondColor);
    font-size: 18px;
    font-weight: 400;
    margin-left: 25px;
    transition: color .3s ease;
}

.menu-btn {
    color: white;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

.menu-btn::after {
    content: '';
    display: block;
    width: 0;
    height: 1.5px;
    background: var(--secondColor);
    transition: width .3s;
}

.navbar.sticky .menu-btn::after {
    content: '';
    display: block;
    width: 0;
    height: 1.5px;
    background: white;
    transition: width .3s;
}

.menu-btn:hover::after {
    width: 100%;
    transition: width .3s;
}

.navbar.sticky .menu-btn:hover::after {
    width: 100%;
    transition: width .3s;
}

.menu {
    margin-bottom: 0;
}

.scroll-up-btn {
    position: fixed;
    height: 45px;
    width: 42px;
    background: var(--secondColor);
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    cursor: pointer;
    pointer-events: none;
    transition: all .3s ease;
    opacity: 0;
    border-radius: 5px;
}

.scroll-up-btn.show {
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}

.navbar.sticky .menu li a:hover {
    color: #fff;
}

.navbar.sticky .menu li a {
    color: white
}

/* Home area */

.home {
    width: 100%;
    display: flex;
    background: var(--mainColor);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    font-family: 'Ubuntu' 'sans-serif';
    position: relative;
    z-index: -1;
}

.home img {
    width: 23%;
    position: absolute;
    bottom: 0%;
    right: 10%;
    clip-path: polygon(20% 5%, 80% 5%, 100% 100%, 0% 100%);
    background-color: #8e8f8a1a
}

.home__content {
    padding-top: 20%;
    position: relative;
    height: 100%;
}

.home .home__content .text-1 {
    font-size: 23px;
    position: absolute;
    top: 20%;
    left: 0;
    color: var(--secondColor);
}

.home .home__content .text-2 {
    position: absolute;
    /* margin: 5px 0; */
    color: var(--secondColor);
    font-weight: 500;
    font-size: 45px;
    top: 40%;
    left: 0;
}

.home .home__content .text-2 span {
    color: var(--secondColor);
    font-weight: 500;
    font-size: 45px;
}

.home .home__content .text-3 {
    position: absolute;
    width: 50%;
    bottom: 20%;
    font-weight: 400;
    font-size: 16px;
    text-align: justify;
    color: var(--secondColor);
}

.social {
    position: absolute;
    left: 1%;
    top: 30%;
    display: flex;
    flex-flow: column;
}

.social .button {
    width: 50px;
    height: 50px;
    background: #ffffffa1;
    opacity: .8;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
    text-align: center;
    transition: all .3s ease-out;
    overflow: hidden;
}

.social .button:hover {
    width: 150%;
    text-align: left;
}

.social .button:hover .icon i {
    color: white
}

.social .button:first-child:hover .icon {
    background: #4267b2;
    text-align: center;
}

.social .button:first-child:hover span {
    color: #4267b2;
    padding-left: 10%;
    font-weight: 500;
}

.social .button:nth-child(2):hover span {
    color: #e1306c;
    padding-left: 10%;
    font-weight: 500;
}

.social .button:nth-child(3):hover span {
    color: #333;
    padding-left: 10%;
    font-weight: 500;
}

.social .button:nth-child(2):hover .icon {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    text-align: center;
}

.social .button:nth-child(3):hover .icon {
    background: #333;
    text-align: center;
}

.social .button .icon {
    display: inline-block;
    height: 50px;
    width: 50px;
    box-sizing: border-box;
    line-height: 50px;
    border-radius: 50px;
}

.social .button .icon i {
    font-size: 20px;
    line-height: 50px;
    color: black;
}

.social a {
    color: inherit
}

/* About area */

.pos-btn {
    position: absolute;
    bottom: 10%;
    left: 7%;
}

.custom-btn {
    display: inline-block;
    padding: .75rem 1.25rem;
    border-radius: 50px;
    color: #fff;
    text-transform: uppercase;
    font-size: .9rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.custom-btn::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--thirdColor);
    border-radius: 5px;
    z-index: -2;
}

.custom-btn::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-image: linear-gradient( 140deg, #777372 0%, #52484f 50%, #4d3d3d 75%);
    transition: all .3s;
    border-radius: 5px;
    z-index: -1;
}

.custom-btn:hover {
    color: #fff;
}

.custom-btn:hover:before {
    width: 100%;
}

.aboutMe {
    position: relative;
    padding: 100px 10px 0;
}

.aboutMe .title::after {
    content: "Who am i";
    background: var(--mainColor);
}

.aboutMe__background {
    background: var(--secondColor);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    clip-path: ellipse(110% 60% at 0% 0%);
    top: 0;
    left: 0;
}

.aboutMe__content {
    max-width: 1200px;
    width: 85%;
    margin: 0 auto;
    box-shadow: 0 0 15px 1px rgb(0 0 0 / 20%);
    background-color: var(--mainColor);
    overflow: hidden;
    border-radius: 10px;
    padding: 30px 20px 30px;
}

.myIMG {
    padding: 0 12%;
    position: relative;
}

.myIMG img {
    border-radius: 5%;
    box-shadow: 0 0px 5px rgb(0 49 52 / 12%), 0 0px 16px rgb(0 49 52 / 18%), 0 0px 71px rgb(0 49 52 / 30%);
}

.myInfo ul {
    list-style: none;
}

.myInfo__content {
    font-size: 16px;
    color: #003134;
    border-bottom: 2px solid rgba(0, 49, 52, 0.7);
    line-height: 2;
    display: flex;
    align-items: center;
    justify-content: left;
}

.myInfo li {
    padding: 5% 0
}

.myInfo__icon {
    width: 8rem;
    display: flex;
    align-items: center;
    margin-right: 30px;
    padding-left: 10px;
    background-color: rgba(0, 49, 52, 0.7);
    color: #e6f4f1;
    border-radius: 2px 2px 0 2px;
}

.myInfo__icon i {
    padding-right: 10px;
}

/* skills area */

.mySkills {
    /* background: var(--mainColor); */
}

.mySkills__content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
    background: var(--mainColor);
    border-radius: 50px;
    box-shadow: rgb(0 0 0 / 20%) 0px 0px 15px 1px;
}

.mySkills .title::after {
    content: 'what i know';
}

.mySkills__content .card__Center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mySkills__content h1 {
    position: absolute;
    color: var(--mainColor);
    text-align: center;
    font-size: 25px;
    font-weight: 500;
}

.mySkills__content .card {
    position: relative;
    width: 200px;
    height: 300px;
    margin: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: var(--secondColor);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.mySkills__content .card .card__content {
    padding: 20px;
    text-align: center;
    transition: all .5s;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transform: translateY(100px);
    opacity: 0;
}

.mySkills__content .card:hover .card__content {
    transform: translateY(0px);
    opacity: 1;
    transition: all .5s;
}

.mySkills__content .card:hover h1 {
    display: none !important;
}

.mySkills__content .card .card__content .card__item {
    position: relative;
    width: 130px;
    height: 50px;
    border: 1px solid;
    border-radius: 50%;
    padding: 5px 25px;
    margin: 5px 0;
    background-color: var(--mainColor);
}

.mySkills__content .card .card__content .card__item img {
    position: absolute;
    width: 100%;
    height: 40px;
    object-fit: contain;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.mySkills__content .card .card__content .card__item span {
    position: absolute;
    height: 40px;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
    font-size: 13px;
    width: 100%
}

/* award area */

.award {
    background: #24292d;
    min-height: 100vh;
    background-repeat: no-repeat;
    padding: 100px 15px;
    background-size: cover;
}

/* .award__content {
    border-radius: 50px;
    box-shadow: rgb(0 0 0 / 20%) 0px 0px 15px 1px;
    padding-bottom: 25px;
} */

.award .title::before {
    background: var(--mainColor)
}

.award .title {
    color: var(--mainColor)
}

.award .title::after {
    content: "what i did";
    background: #24292d;
}

.timeline {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.timeline::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: var(--secondColor);
    left: calc(50% - 1px);
}

.timeline-item {
    margin-bottom: 45px;
    width: 100%;
    position: relative;
}

.timeline-item:nth-child(odd) {
    padding-right: calc(50% + 30px);
    text-align: right;
}

.timeline-item:nth-child(even) {
    padding-left: calc(50% + 30px);
}

.timeline-item:last-child {
    margin-bottom: 0;
}

.timeline-dot {
    height: 16px;
    width: 16px;
    background-color: #eaa023;
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    top: 10px
}

.timeline-date {
    font-size: 16px;
    color: #eaa023;
    margin: 6px 0 15px
}

.timeline-content {
    background-color: #2f363e;
    padding: 30px;
    border-radius: 5px;
    /* new */
    opacity: 0;
    transform: translateX(-100%);
    transition: 600ms ease;
}

.timeline-content h3 {
    font-size: 20px;
    color: white;
    margin: 0 0 15px;
    text-transform: capitalize;
    font-weight: 500;
    font-family: sans-serif;
}

.timeline-content p {
    color: var(--mainColor);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

.show-me:nth-child(n) {
    transform: none;
    opacity: 1;
}

/* contact area */

.contact .title::before {
    background: #111;
}

.contact .title::after {
    content: "get in touch"
}

.contact__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    text-align: left;
}

.contact__content i {
    padding-right: 10px;
    font-size: 23px;
}

.contact__content span {
    font-weight: 600;
    font-size: 16px;
}

.contact__content p {
    font-weight: 400;
    /* padding: 5px 15px; */
    font-size: 18px;
}

.contact__content div {
    padding-right: 20px;
}

/* Project */

.portfolio {
    background: #24292d;
    border-top: 1px solid white;
    border-width: medium;
}

.portfolio .title::after {
    content: "what i've built";
    background: #24292d;
}

.portfolio .title {
    color: var(--mainColor)
}

.portfolio .carousel-inner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio .carousel-item {
    width: 700px;
    height: 400px;
    margin: auto;
}

.carousel-indicators {
    bottom: -20%;
}

.carousel-caption {
    right: -11% !important;
    left: unset !important;
    bottom: 0% !important;
    border: 1px solid white;
}

.portfolio .carousel-caption {
    background: var(--secondColor);
    width: 400px;
    height: 250px;
    opacity: .8;
    border-radius: 15px;
}

.portfolio .titleProject {
    font-size: 18px;
    font-weight: 700;
}

.project__content ul li {
    width: 100%;
    text-align: left;
}

.portfolio .sub1 {
    font-weight: 700;
    font-size: 13px;
}

.portfolio .sub2 {
    font-weight: 400;
    font-size: 13px;
}

.timeProject {
    margin: 0;
}

.imgPJ img {
    border: 2px solid white;
    border-radius: 10px;
}

.portfolio .custom-btn {
    border: unset;
    padding: .5rem 1rem;
    font-size: .7rem;
    margin-top: 1rem;
    border-radius: 100px;
}

/* footer area */

footer {
    background: #24292d;
    padding: 20px 23px;
    color: #fff;
    text-align: center;
}

footer span a {
    color: crimson !important;
    padding: 0 10px
}

footer span a:hover {
    text-decoration: underline !important;
    cursor: pointer;
}

/* Loading */

.loading {
    display: flex;
    justify-self: center;
    align-items: center;
}

.loading.hidden {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

.loading svg {
    font-size: 5px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
    animation: text 1s ease-in-out infinite;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes text {
    50% {
        opacity: 0.1;
    }
}

.loading polygon {
    stroke-dasharray: 22;
    stroke-dashoffset: 1;
    animation: dash 4s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate-reverse;
}

@keyframes dash {
    to {
        stroke-dashoffset: 234;
    }
}

/* responsive area */

@media (min-width:300px) and (max-width:450px) {
    .container {
        max-width: 340px !important;
    }
    .home img {
        display: none;
    }
    .home .home__content .text-1 {
        top: 10%;
    }
    .home .home__content .text-2 {
        top: 28% !important
    }
    .home .home__content .text-3 {
        width: 100%;
        bottom: 20% !important
    }
    .navbar .menu.active {
        padding-top: 15%;
    }
    .myInfo {
        margin-top: 15px;
    }
    .myInfo ul {
        padding-left: 0;
    }
    .myInfo__content {
        font-size: 13px
    }
    .myInfo__icon {
        margin-right: 10px;
        width: 6rem
    }
    .myInfo__icon i {
        font-size: 13px;
    }
    .social {
        display: none;
        flex-flow: unset;
    }
    .pos-btn {
        left: 10%
    }
    .navbar.sticky .menu li a {
        color: var(--secondColor)
    }
    .portfolio .carousel-caption {
        width: 100%;
        right: unset !important;
        left: 0 !important;
    }
    .carousel-item:last-child .custom-btn {
        margin: unset
    }
    .myInfo__text {
        font-size: 11px;
    }
}

@media (min-width:451px) and (max-width: 768px) {
    .container {
        max-width: 650px !important;
    }
    .home img {
        display: none;
    }
    .home .home__content .text-1 {
        top: 10%;
    }
    .home .home__content .text-2 {
        top: 20%;
        font-size: 75px
    }
    .home .home__content .text-2 span {
        top: 28%;
        font-size: 75px
    }
    .home .home__content .text-3 {
        width: 100%;
        bottom: 55% !important
    }
    .navbar .menu.active {
        padding-top: 10%;
    }
    .contact__content .column {
        width: 100%;
    }
    .social {
        /* display: none; */
        flex-flow: unset;
        left: 8%;
        top: 70%;
    }
    .social .button {
        margin-right: 55px;
    }
    .pos-btn {
        bottom: 40%;
    }
    .navbar.sticky .menu li a {
        color: var(--secondColor)
    }
    .carousel-caption {
        right: 2% !important
    }
    .myInfo {
        margin-top: 25px;
    }
    .myInfo__text {
        font-size: 20px;
    }
    .myInfo__content {
        font-size: 17px;
    }
    .myInfo__icon{
        margin-right: 50px;
    }
}

@media(max-width: 1024px) {
    .container {
        max-width: 900px;
    }
    .home img {
        width: 28%;
        right: 6%
    }
    .menu-btn {
        display: block;
        z-index: 999;
    }
    .navbar .menu {
        position: fixed;
        height: 100%;
        width: 100%;
        left: -100%;
        top: 0;
        background: var(--mainColor);
        opacity: .9;
        text-align: center;
        padding-top: 50px;
    }
    .navbar .menu.active {
        transition: all .3s ease-out;
        left: 0;
        padding-left: 0;
    }
    .navbar .menu li {
        display: block;
    }
    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 23px;
    }
    .menu-btn i.active:before {
        content: '\f00d';
    }
    .menu-btn:hover::after {
        width: 0;
    }
    .home .home__content .text-1 {
        font-size: 23px
    }
    .home .home__content .text-2 {
        font-size: 27px;
    }
    .home .home__content .text-2 span {
        font-size: 27px;
    }
    .home .home__content .text-3 {
        font-size: 16px;
        bottom: 17%
    }
    .timeline::before {
        left: 7px;
    }
    .timeline-item:nth-child(odd) {
        padding-right: 0;
        text-align: left;
    }
    .timeline-item:nth-child(odd), .timeline-item:nth-child(even) {
        padding-left: 37px;
    }
    .timeline-dot {
        left: 0;
    }
    .myInfo__text {
        /* font-size: 14px; */
    }
}

@media (min-width:1600px) {
    .container {
        max-width: 1376px;
    }
    .navbar .logo a {
        font-size: 37px;
    }
    .navbar .menu li a {
        font-size: 24px;
    }
    .home img {
        width: 27%;
    }
    .home .home__content .text-1 {
        font-size: 27px
    }
    .home .home__content .text-3 {
        font-size: 20px
    }
    .social .button {
        width: 60px;
        height: 60px;
        border-radius: 60px;
    }
    .social .button .icon {
        height: 60px;
        width: 60px;
        box-sizing: border-box;
        line-height: 60px;
        border-radius: 60px;
    }
    .pos-btn {
        left: 9%;
    }
    .myInfo li {
        padding: 5.5% 0
    }
    .myInfo__content {
        font-size: 18px
    }
}

@media (min-width: 1920px) {
    .container {
        max-width: 1600px;
    }
    .navbar .logo a {
        font-size: 45px;
    }
    .navbar .menu li a {
        font-size: 30px;
    }
    .home img {
        width: 27%;
        right: 9%
    }
    .home .home__content .text-1 {
        font-size: 35px
    }
    .home .home__content .text-2 {
        font-size: 45px;
    }
    .home .home__content .text-2 span {
        font-size: 45px;
    }
    .home .home__content .text-3 {
        font-size: 27px
    }
    .social .button {
        width: 70px;
        height: 70px;
        border-radius: 70px;
    }
    .social .button .icon {
        height: 70px;
        width: 70px;
        box-sizing: border-box;
        line-height: 70px;
        border-radius: 70px;
    }
    .social .button .icon i {
        font-size: 20px;
    }
    .mySkills__content .row {
        width: 100%;
    }
    .myInfo li {
        padding: 6% 0
    }
    .myInfo__content {
        font-size: 20px
    }
    .pos-btn {
        left: 8.5%;
    }
}

@media (min-width:2560px) {
    .container {
        max-width: 2200px !important;
    }
    .navbar {
        padding: 50px 0;
    }
    .navbar .logo a {
        font-size: 55px;
    }
    .navbar .menu li a {
        font-size: 37px;
        margin-left: 40px;
    }
    .home img {
        width: 27%;
        right: 8%;
    }
    .home .home__content .text-1 {
        font-size: 45px
    }
    .home .home__content .text-2 {
        font-size: 52px;
    }
    .home .home__content .text-2 span {
        font-size: 52px;
    }
    .home .home__content .text-3 {
        font-size: 35px
    }
    .social .button {
        width: 90px;
        height: 90px;
        border-radius: 90px;
    }
    .social .button .icon {
        height: 90px;
        width: 90px;
        box-sizing: border-box;
        line-height: 90px;
        border-radius: 90px;
    }
    .social .button .icon i {
        font-size: 25px;
    }
}